// --- COLOR ---
$primary: #feb139;
$secondary: #fff80a;
$grey-dark: #292e34;
$grey-dark-2: #262a2c;
$grey: #e1e4e7;
$grey-2: #7f8285;
$grey-light: #f4f6f8;
$white: #ffffff;
$black: #293462;
$green: #30c987;
$placeholder: #565a5f;
$color-important: #d61c4e;
$color-error: #d61c4e;
