// --- COLOR ---
$primary-color: #31f4a0;
$secondary-color: #161819;
$grey-dark: #292e34;
$grey-dark-2: #262a2c;
$grey: #e1e4e7;
$grey-2: #7f8285;
$grey-light: #f4f6f8;
$white: #ffffff;
$black: #000000;
$green: #30c987;
$placeholder: #565a5f;
$color-important: #f07d55;
$color-error: #d22323;
$color-error2: #ef7c54;
